
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="/public/images/link-icon.png">
        <title>Cutly - Encurtador de URL</title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
        <link href="/public/css/cutly.css" rel="stylesheet">
        <meta name="description" content="Use o Cutly para encurtar um link longo. Com ele é possível diminuir o tamanho do link criando uma url curta para compartilhar em outros locais, além é claro, de monitorar estatísticas de tráfego.">
        <meta name="google-site-verification" content="bsmPrvnyXiOtoUoMZoO_74dYqp93-anZaoMiM6P2SFU" />
        <script data-ad-client="ca-pub-1297488422791083" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>

    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">Cutly <img src="/public/images/link-icon.png"></h3>
                </div>
            </header>
            <main role="main" class="inner cover">
                {% block main %}{% endblock %}
            </main>
            <footer class="mastfoot mt-auto">
                <div class="inner">
                    <p>2020 - Todos os direitos reservados.</p>
                </div>
            </footer>
          
        </div>
        {% block scripts %}{% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173157874-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-173157874-1');
        </script>
    </body>
</html>