{% extends 'base.njk' %}

{% block main %}

    <h1 class="cover-heading">Encurtar URL</h1>
    <form method="POST" action="/generate">
    <div class="row">
        <div class="col-sm-12 form-group">
            <input type="text" name="url" class="form-control" placeholder="Insira abaixo a URL a ser encurtada." required>
        </div>
    </div>
    <p class="lead">
        <button type="submit" class="btn btn-lg btn-secondary">Encurtar</button>
    </p>
    </form>

    <hr>

    <h3>Encurte sua URL de maneira rápida e fácil!</h3>
    
    <p>
        O Cutly é uma ferramenta grátis para encurtar qualquer link que desejar. Use o Curl para diminuir uma url longa e gerar um link curto. Cole o link completo e clique no botão Encurtar. Logo após, copie a URL encurtada e compartilhe onde quiser.
    </p>

    <hr>

    <h3>Deixe seus links chamativos!</h3>
    <p>
        Suas URLs encurtadas podem ser usadas em publicações, campanha de anúncios, blogs, fóruns, e-mails, mensagens instantâneas e outros locais.
    </p>

{% endblock %}